# nubank-spreadsheet
NUBANK_CPF=12345678901
NUBANK_PASSWORD=P4SSW0RD


# Create your Signed Credentials for Google Spreadsheet, read more in https://pygsheets.readthedocs.io/en/stable/authorization.html
AUTH_TYPE=
AUTH_PROJECT_ID=
AUTH_PRIVATE_KEY_ID=
AUTH_PRIVATE_KEY=
AUTH_CLIENT_EMAIL=
AUTH_CLIENT_ID=
AUTH_AUTH_URI=
AUTH_TOKEN_URI=
AUTH_AUTH_PROVIDER_X509_CERT_URL=
AUTH_CLIENT_X509_CERT_URL=


# itau_spreadsheet
ITAU_AGENCY=0000
ITAU_ACCOUNT=00000
ITAU_ACCOUNT_DIGIT=0


# agilize
AGILIZE_USERNAME=00000000000000
AGILIZE_PASSWORD=


# Google Drive
PROLABORE_FOLDER_ID=
TAXES_FOLDER_ID=
