SHELL=/bin/bash
PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/home/lucas/.pyenv/bin:/home/lucas/.pyenv/shims
0 5 * * * cd $HOME/cronjobs && source .venv/bin/activate && python -m nubank_spreadsheet >> $HOME/nubank_spreadsheet.log 2>&1
